# Python
venv/
__pycache__/
*.pyc

# ML data / outputs
ml/data/
ml/xbd/
ml/runtime/
ml/models/*.pth

# Uploads
backend/uploads/

# Node
node_modules/

# React build
frontend/build/

# OS junk
.DS_Store
Thumbs.db
